<nav class="navbar nav">
    <div class="container-fluid">
        <p style="font-size:  xx-large;" class="nav_title">BANK Login </p>
    </div>
</nav>


<h1 style="color: #ae2626;">{{aim}}</h1>


<div class="container">
   
    <div class="bord">
        <h3 class="space login_account">LOGIN</h3>

<form (ngSubmit)="login()">

        <input type="text" class="space inpt_length" id="acno" name="acno" [(ngModel)]="acno"   placeholder="Account Number"><br>

        <input type="password" class="space inpt_length" id="pwsd" name="pswd" [(ngModel)]="pswd"  placeholder="Password">
        <p class="error" id="err"></p><br>
        <button type="button" type="submit" class="btn btn-danger space login_buttn" >LOGIN</button> &nbsp;&nbsp;
        <a routerLink="register">Sign Up</a>
    </form>

    </div>
</div>

