<nav class="navbar nav">
    <div class="container-fluid">
        <p style="font-size:  xx-large;" class="nav_title">BANK Login </p>
    </div>
</nav>


<h1 style="color: #ae2626;">{{aim}}</h1>


<div class="container">
   
    <div class="bord">
        <h3 class="space login_account">LOGIN</h3>

<form [formGroup]="loginForm" (ngSubmit)="login()">

        <input type="text" class="space inpt_length" id="acno" name="acno" formControlName="acno"   placeholder="Account Number"><br>
        <div *ngIf="(this.loginForm.get('acno')?.touched || this.loginForm.get('acno')?.dirty) && this.loginForm.get('acno')?.errors"
        class="error">Invalid Account Number</div>

        <input type="password" class="space inpt_length" id="pwsd" name="pswd" formControlName="pswd"  placeholder="Password"><br>
        <div *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty) && this.loginForm.get('pswd')?.errors"
        class="error">Invalid Password</div> 
        <p class="error" id="err"></p><br>

        <button type="button" type="submit" class="btn btn-danger space login_buttn" >LOGIN</button> <br>
        <button type="button" routerLink="register" type="submit" style="margin-left: 230px; border-width: 2px; " class="btn btn-danger login_buttn" >SIGN UP</button>
        <!-- <a routerLink="register">Sign Up</a> -->
    </form>

    </div>
</div>

